/* Reset and General Styling */
body {
  font-family: monospace;
  background-color: #f0f0f0;
}

h4 {
  text-align: center;
  color: black;
  font-family: monospace;
}

/* Header Styling */
header {
  background-color: cyan;
  padding: 10px 0; /* Add some padding for better spacing */
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline; /* Instead of floating */
  margin-right: 10px; /* Add some spacing between menu items */
}

header nav li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

header nav a {
  text-decoration: none;
  padding: 10px 16px; /* Adjust padding for better spacing */
  color: #000; /* Change text color */
}

/* Fix for the navbar color issue */
header nav a:hover {
  background-color: cyan; /* Match the navbar background color on hover */
  color: #fff; /* Change text color on hover */
}

/* Main Section Styling */
main {
  display: flex;
  padding: 20px;
}

/* Match Container Styling */
.match-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  margin:auto;
  width: 270px;
}

/* Team Styling */
.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.team {
  flex: 1;
}

.team img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.team span.name {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  color: #333;
  margin-top: 5px;
}

.score {
  font-size: 18px;
  font-weight: 600;
  color: #555;
  margin: 10px 0;
}

.league-name {
  font-size: 12px;
  color: #777;
}

/* Team Lineup Styling */
.team-left,
.team-right {
  width: 48%;
}

.team h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.team ul {
  list-style-type: none;
  padding: 0;
}

.team li {
  margin-bottom: 3px;
  font-size: 12px;
  color: #555;
}

.team span.name {
  font-size: 10px;
  margin-top: 0;
}

.league-table { 
  max-width: 400px; 
  padding: 20px;
  border-collapse: collapse;
}

.table_badge {
  width: 30px; 
  height: 30px; 
}

.table_title {
  padding-right: 20px;
}

.league-table-container {
  max-height: 500px; 
  overflow-y: auto; 
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: fit-content;
  padding: 20px;
}

.league-table th,
.league-table td {
    padding: 4px;
}

.lineup-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-right: 15px;
}

.stats-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  margin:auto;
}

.league-table-container::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.team-container {
  text-align: center;
  margin-bottom: 20px;
}

.team-badge {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-name {
  display: block;
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

a:hover {
  text-decoration: none; /* Remove underline on hover */
}
