
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'Dashboard/style.css' %}" />
    </head>
    <body> 
        <div>
           <ul>
            <li> <a href="/">Home</a></li>
            <li><a>Contact</a></li>
            <li><a>About us</a></li>
           </ul>
        </div>  
        

        {% for result in jsonResponse %}
        
        <div class="container">
            <div class="app">

                <div class="header">

                <span class="team team-left">
                    <span class="name">{{ result.match_hometeam_name }}</span>
                </span>

                <span class="score">{{ result.match_hometeam_ft_score }} - {{ result.match_awayteam_ft_score }}</span>

                <span class="team team-right">
                    <span class="name">{{ result.match_awayteam_name }}</span>
                </span>

                </div>
                
            </div>
        </div>    

       {% endfor %} 
    </body>
</html>