<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Dashboard/stats.css' %}" />
</head>
<body>
    <main>
        <header class="header-container">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: cyan;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">FootDash</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{% url 'dashboard' %}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Stats
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'player_stats' %}">Player Stats</a></li>
                                    <li><a class="dropdown-item" href="{% url 'stats' %}">Team Stats</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'fixtures' %}">Fixtures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">AI Predictor</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>



        <div class="row" style="background-color:aquamarine;">
            <h4>Results data</h4>
        </div>

        <div class="results-container">
            <canvas id="wins-losses-chart"></canvas>
        </div>


        <div class="row" style="background-color:aquamarine;">
            <h4>Goals data</h4>
        </div>

        <div class="row">
            <div class="stats-container">
                <h5></h5>
                <canvas id="goals-chart"></canvas>
            </div>

            <div class="stats-container">
                <!-- Add a canvas element for the chart -->
                <canvas id="goals-bubble-chart"></canvas>
            </div>
        </div>

        <div class="row" style="background-color:aquamarine;">
            <h4>Home vs Away results</h4>
        </div>

        <div class="row">
            <div class="stats-container">
                <h5>Home Performance</h5>
                <canvas id="home-performance-chart"></canvas>
            </div>

            <div class="stats-container">
                <h5>Away Performance</h5>
                <canvas id="away-performance-chart"></canvas>
            </div>
        </div>
        


        <!-- Add the chart.js library -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- JavaScript code to render the chart -->
        <script>
            // Get the data from Django context
            var teamNames = {{ team_names|safe }};
            var goalsForData = {{ goals_for|safe }};
            var goalsAgainstData = {{ goals_against|safe }};

            // Render the chart
            var ctx = document.getElementById('goals-chart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: teamNames,
                    datasets: [{
                        label: 'Goals For',
                        data: goalsForData,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }, {
                        label: 'Goals Against',
                        data: goalsAgainstData,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            //bubble chart to show team position relative to goals scored and conceded
            var teams = teamNames;
            var goalsScored = goalsForData;
            var goalsConceded = goalsAgainstData;
            var leaguePositions = {{ league_positions|safe }};

            var ctx = document.getElementById('goals-bubble-chart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bubble',
                data: {
                    datasets: [{
                        label: 'Teams',
                        data: teams.map((team, index) => ({
                            x: goalsScored[index],
                            y: goalsConceded[index],
                            r: 25 - leaguePositions[index], 
                            label: team,
                        })),
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Goals Scored'
                            },
                            beginAtZero: true
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Goals Conceded'
                            },
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    var label = context.dataset.data[context.dataIndex].label || '';
                                    if (label) {
                                        label += ': ';
                                    }
                                    label += '(' + context.raw.x + ', ' + context.raw.y + ')';
                                    return label;
                                }
                            }
                        }
                    }
                }
            });

            
            //bar chart to show team wins, draws, and losses
            var winsData = {{ wins|safe }};
            var drawsData = {{ draws|safe }};
            var lossesData = {{ losses|safe }};

            // Render the chart
            var ctx = document.getElementById('wins-losses-chart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: teamNames,
                    datasets: [
                        {
                            label: 'Wins',
                            data: winsData,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Draws',
                            data: drawsData,
                            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                            borderColor: 'rgba(255, 206, 86, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Losses',
                            data: lossesData,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            stacked: true,
                            beginAtZero: true
                        },
                        x: {
                            stacked: true
                        }
                    }
                }
            });


            //bar chart for home performance
            var homeWinsData = {{ home_wins|safe }};
            var homeDrawsData = {{ home_draws|safe }};
            var homeLossesData = {{ home_losses|safe }};

            // Render the chart
            var ctx = document.getElementById('home-performance-chart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: teamNames,
                    datasets: [
                        {
                            label: 'Wins',
                            data: homeWinsData,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Draws',
                            data: homeDrawsData,
                            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                            borderColor: 'rgba(255, 206, 86, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Losses',
                            data: homeLossesData,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            stacked: true,
                            beginAtZero: true
                        },
                        x: {
                            stacked: true
                        }
                    }
                }
            });


            //bar chart for away performance
            var awayWinsData = {{ away_wins|safe }};
            var awayDrawsData = {{ away_draws|safe }};
            var awayLossesData = {{ away_losses|safe }};

            // Render the chart
            var ctx = document.getElementById('away-performance-chart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: teamNames,
                    datasets: [
                        {
                            label: 'Wins',
                            data: awayWinsData,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Draws',
                            data: awayDrawsData,
                            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                            borderColor: 'rgba(255, 206, 86, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Losses',
                            data: awayLossesData,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            stacked: true,
                            beginAtZero: true
                        },
                        x: {
                            stacked: true
                        }
                    }
                }
            });
        </script>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
